[submodule "lzma-sys/xz-5.2"]
	path = lzma-sys/xz-5.2
	url = https://github.com/xz-mirror/xz
	branch = v5.2
[submodule "lzma-sys/xz-5.4"]
	path = lzma-sys/xz-5.4
	url = https://github.com/xz-mirror/xz
